@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 20px;
    text-align: center;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: inline;
}

button {
    margin: 20px;
    height: 50px;
    width: 50px;
    border: 2px solid lightcoral;
    background-color: lightblue;
    border-radius: 50%;
}

button:hover {
    cursor: pointer;
}